# The Great Divergence
## Get the data

In [5]:
!wget https://www.rug.nl/ggdc/historicaldevelopment/maddison/data/mpd2020.xlsx -P ../data/

--2025-04-10 13:25:12--  https://www.rug.nl/ggdc/historicaldevelopment/maddison/data/mpd2020.xlsx
Resolving www.rug.nl (www.rug.nl)... 129.125.2.51
Connecting to www.rug.nl (www.rug.nl)|129.125.2.51|:443... connected.
HTTP request sent, awaiting response... 200
Length: 1764793 (1.7M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘../data/mpd2020.xlsx’

mpd2020.xlsx        100%[===================>]   1.68M  1.21MB/s    in 1.4s

2025-04-10 13:25:13 (1.21 MB/s) - ‘../data/mpd2020.xlsx’ saved [1764793/1764793]

## Time series
### Regional data
#### GDP per capita

In [1]:
import pandas as pd

df = pd.read_excel('../data/mpd2020.xlsx', sheet_name='Regional data', header=1)
display(df)

,Region,Western Europe,Eastern Europe,Western Offshoots,Latin America,Asia (East),Asia (South and South-East),Middle East,Sub-Sahara Africa,Western Europe.1,Western Offshoots.1,Eastern Europe.1,Latin America.1,Asia (South and South-East).1,Asia (East).1,Middle East.1,Sub-Sahara Africa.1,World,World GDP pc
0,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1820,2306.966690,818.000000,2513.045418,952.816821,1088.584951,929.000000,974.000000,800.000000,132371.000000,11231.000000,90785.000000,20099.000000,2.556950e+05,4.277570e+05,35600.000000,6.000000e+04,1.033538e+06,1101.565459
2,1830,2384.314573,942.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1840,2579.534884,907.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1850,2678.000000,985.000000,3474.410149,1080.657319,899.657658,929.000000,1000.000000,800.000000,165348.000000,26760.000000,117661.000000,29485.000000,2.787060e+05,4.557740e+05,42000.000000,6.500000e+04,1.180734e+06,1225.081067
5,1860,3034.000000,1358.000000,4214.440703,1588.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1870,3301.304919,1575.000000,4647.453901,1318.541091,989.477165,850.346572,1165.000000,800.000000,186566.000000,46088.000000,141626.000000,37692.000000,3.276920e+05,4.091530e+05,49839.000000,7.000000e+04,1.268656e+06,1497.982325
7,1880,3585.154363,1886.000000,6019.123928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1890,4079.313847,2204.000000,6480.955612,1672.812962,NaN,950.999236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1900,4724.295785,2700.000000,7740.850451,1750.626743,1086.328445,994.419007,1300.000000,850.000000,232433.000000,86396.000000,194693.000000,61004.000000,3.660600e+05,4.570580e+05,56000.000000,8.600000e+04,1.539644e+06,2212.043316
10,1910,5134.759064,2282.571503,9354.690921,2193.539665,NaN,1143.117595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1920,4883.538885,1342.734619,9741.422761,2330.639937,1160.000000,1116.831831,900.000000,950.000000,256692.000000,122278.000000,229338.000000,84512.000000,5.141398e+05,5.439040e+05,71000.000000,1.050000e+05,1.926864e+06,2241.165411
12,1930,6409.105519,2463.720378,10297.123160,2700.039452,1272.979243,1299.239596,1600.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1940,7184.530575,3209.000000,11620.500978,3024.265427,1361.000000,1235.000000,2146.000000,1100.000000,289129.000000,153003.000000,288864.000000,121845.000000,5.221870e+05,6.147480e+05,90000.000000,1.520000e+05,2.231776e+06,3133.198324
14,1950,7263.261748,4082.103022,14773.221912,3712.964097,1121.667311,1069.714445,2393.029939,1322.685006,301577.000000,176457.000000,265982.000000,158927.000000,6.519800e+05,6.703310e+05,102743.000000,1.815720e+05,2.509569e+06,3350.566456
15,1960,10973.874165,5779.169988,17471.512338,4750.736102,1735.432309,1294.932202,3109.813332,1574.229862,323216.000000,211671.000000,311411.000000,209441.000000,7.943540e+05,8.102740e+05,133349.000000,2.264580e+05,3.020174e+06,4385.786356
16,1970,16161.444241,8241.357667,23209.653746,6285.808861,3042.225410,1545.880606,4800.608413,1957.639905,349109.000000,242290.000000,348243.000000,275318.000000,9.984830e+05,9.873810e+05,172904.000000,2.916120e+05,3.665340e+06,5951.549063
17,1980,20950.230506,9933.038923,28786.760778,8728.316651,4211.644181,1897.426374,6741.687051,2025.759925,363898.000000,270105.000000,380059.000000,349441.000000,1.257115e+06,1.176305e+06,228970.000000,3.818350e+05,4.407728e+06,7232.973298
18,1990,25440.035895,10343.873858,35619.375285,8132.156616,6121.290346,2573.680774,6435.131381,1800.776873,374235.000000,298293.000000,407200.000000,430366.000000,1.556990e+06,1.347902e+06,308972.000000,5.078280e+05,5.231786e+06,8222.478204
19,2000,32536.306120,8985.540175,44329.268173,10225.444998,8163.839420,3437.288256,9639.639086,1981.215666,387273.000000,336265.000000,406119.000000,505818.000000,1.881573e+06,1.483744e+06,378987.000000,6.584730e+05,6.038252e+06,9914.567730
20,2010,37318.373010,17021.288621,48090.150588,13452.816165,12853.430199,5366.591942,16716.334113,3155.574897,407475.000000,370322.000000,404195.000000,572946.000000,2.186133e+06,1.562593e+06,461061.000000,8.494430e+05,6.814168e+06,13179.495469
21,2016,38511.331744,19446.352353,51667.975829,14090.082543,15697.937012,6991.327459,18009.998781,3491.176564,418154.000000,389730.000000,406044.000000,609888.000000,2.355443e+06,1.606040e+06,515173.000000,9.873900e+05,7.287862e+06,14700.371742
22,2017,39256.529421,20115.829544,52597.218348,14086.941859,15956.377824,7306.074859,18403.515243,3524.229170,419338.107743,391730.075672,405992.821099,615860.083863,2.397370e+06,1.613534e+06,525118.132119,1.020642e+06,7.389585e+06,14944.093716
23,2018,39789.896664,20680.586806,53756.496545,14076.043898,16326.952792,7648.663835,18429.740281,3532.373274,420617.957430,394735.920238,406413.761548,620426.428985,2.426441e+06,1.618978e+06,534062.013422,1.047893e+06,7.469568e+06,15212.415062

In [2]:
df_regional_gdp = df.copy()
df_regional_gdp = df_regional_gdp.iloc[:, :9]  # Keep only the gdp per capita data
df_regional_gdp = df_regional_gdp.rename(columns={df_regional_gdp.columns[0]: 'Year'})

display(df_regional_gdp)

,Year,Western Europe,Eastern Europe,Western Offshoots,Latin America,Asia (East),Asia (South and South-East),Middle East,Sub-Sahara Africa
0,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1820,2306.966690,818.000000,2513.045418,952.816821,1088.584951,929.000000,974.000000,800.000000
2,1830,2384.314573,942.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,1840,2579.534884,907.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,1850,2678.000000,985.000000,3474.410149,1080.657319,899.657658,929.000000,1000.000000,800.000000
5,1860,3034.000000,1358.000000,4214.440703,1588.000000,NaN,NaN,NaN,NaN
6,1870,3301.304919,1575.000000,4647.453901,1318.541091,989.477165,850.346572,1165.000000,800.000000
7,1880,3585.154363,1886.000000,6019.123928,NaN,NaN,NaN,NaN,NaN
8,1890,4079.313847,2204.000000,6480.955612,1672.812962,NaN,950.999236,NaN,NaN
9,1900,4724.295785,2700.000000,7740.850451,1750.626743,1086.328445,994.419007,1300.000000,850.000000
10,1910,5134.759064,2282.571503,9354.690921,2193.539665,NaN,1143.117595,NaN,NaN
11,1920,4883.538885,1342.734619,9741.422761,2330.639937,1160.000000,1116.831831,900.000000,950.000000
12,1930,6409.105519,2463.720378,10297.123160,2700.039452,1272.979243,1299.239596,1600.000000,NaN
13,1940,7184.530575,3209.000000,11620.500978,3024.265427,1361.000000,1235.000000,2146.000000,1100.000000
14,1950,7263.261748,4082.103022,14773.221912,3712.964097,1121.667311,1069.714445,2393.029939,1322.685006
15,1960,10973.874165,5779.169988,17471.512338,4750.736102,1735.432309,1294.932202,3109.813332,1574.229862
16,1970,16161.444241,8241.357667,23209.653746,6285.808861,3042.225410,1545.880606,4800.608413,1957.639905
17,1980,20950.230506,9933.038923,28786.760778,8728.316651,4211.644181,1897.426374,6741.687051,2025.759925
18,1990,25440.035895,10343.873858,35619.375285,8132.156616,6121.290346,2573.680774,6435.131381,1800.776873
19,2000,32536.306120,8985.540175,44329.268173,10225.444998,8163.839420,3437.288256,9639.639086,1981.215666
20,2010,37318.373010,17021.288621,48090.150588,13452.816165,12853.430199,5366.591942,16716.334113,3155.574897
21,2016,38511.331744,19446.352353,51667.975829,14090.082543,15697.937012,6991.327459,18009.998781,3491.176564
22,2017,39256.529421,20115.829544,52597.218348,14086.941859,15956.377824,7306.074859,18403.515243,3524.229170
23,2018,39789.896664,20680.586806,53756.496545,14076.043898,16326.952792,7648.663835,18429.740281,3532.373274

In [3]:
import altair as alt

# First, let's create a visualization that shows all regions without filtering
chart = alt.Chart(
    df_regional_gdp.reset_index()
    .melt(id_vars='Year', var_name='Region', value_name='GDP_per_capita')
    .query("Region != 'index'")
).mark_line(
    strokeWidth=3
).encode(
    x=alt.X('Year:Q', title='Year'),
    y=alt.Y('GDP_per_capita:Q', title='GDP per Capita (in 2011 US$)'),
    color=alt.Color(
        'Region:N',
        legend=alt.Legend(
            orient='right',
            title='Region',
            labelFontSize=12
        )
    ),
    tooltip=['Year', 'Region', 'GDP_per_capita']
).properties(
    width=800,
    height=400,
    title={
        'text': 'GDP per Capita by Region Over Time',
        'fontSize': 20,
        'anchor': 'middle'
    }
).configure_axis(
    labelFontSize=12,
    titleFontSize=14
).configure_view(
    strokeWidth=0
).configure_legend(
    strokeColor='gray',
    padding=10,
    cornerRadius=5
)

chart

alt.Chart(...)

#### Population

In [5]:
first_col = df.iloc[:, 0]
region_col_names = df.columns[9:]

region_cols = df[region_col_names]

df_regional_population = pd.concat([first_col, region_cols], axis=1)
df_regional_population.drop(columns=["World", "World GDP pc"], inplace=True)
df_regional_population = df_regional_population.rename(columns={df_regional_population.columns[0]: 'Year'})
display(df_regional_population)

,Year,Western Europe.1,Western Offshoots.1,Eastern Europe.1,Latin America.1,Asia (South and South-East).1,Asia (East).1,Middle East.1,Sub-Sahara Africa.1
0,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1820,132371.000000,11231.000000,90785.000000,20099.000000,2.556950e+05,4.277570e+05,35600.000000,6.000000e+04
2,1830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1850,165348.000000,26760.000000,117661.000000,29485.000000,2.787060e+05,4.557740e+05,42000.000000,6.500000e+04
5,1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1870,186566.000000,46088.000000,141626.000000,37692.000000,3.276920e+05,4.091530e+05,49839.000000,7.000000e+04
7,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1900,232433.000000,86396.000000,194693.000000,61004.000000,3.660600e+05,4.570580e+05,56000.000000,8.600000e+04
10,1910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1920,256692.000000,122278.000000,229338.000000,84512.000000,5.141398e+05,5.439040e+05,71000.000000,1.050000e+05
12,1930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1940,289129.000000,153003.000000,288864.000000,121845.000000,5.221870e+05,6.147480e+05,90000.000000,1.520000e+05
14,1950,301577.000000,176457.000000,265982.000000,158927.000000,6.519800e+05,6.703310e+05,102743.000000,1.815720e+05
15,1960,323216.000000,211671.000000,311411.000000,209441.000000,7.943540e+05,8.102740e+05,133349.000000,2.264580e+05
16,1970,349109.000000,242290.000000,348243.000000,275318.000000,9.984830e+05,9.873810e+05,172904.000000,2.916120e+05
17,1980,363898.000000,270105.000000,380059.000000,349441.000000,1.257115e+06,1.176305e+06,228970.000000,3.818350e+05
18,1990,374235.000000,298293.000000,407200.000000,430366.000000,1.556990e+06,1.347902e+06,308972.000000,5.078280e+05
19,2000,387273.000000,336265.000000,406119.000000,505818.000000,1.881573e+06,1.483744e+06,378987.000000,6.584730e+05
20,2010,407475.000000,370322.000000,404195.000000,572946.000000,2.186133e+06,1.562593e+06,461061.000000,8.494430e+05
21,2016,418154.000000,389730.000000,406044.000000,609888.000000,2.355443e+06,1.606040e+06,515173.000000,9.873900e+05
22,2017,419338.107743,391730.075672,405992.821099,615860.083863,2.397370e+06,1.613534e+06,525118.132119,1.020642e+06
23,2018,420617.957430,394735.920238,406413.761548,620426.428985,2.426441e+06,1.618978e+06,534062.013422,1.047893e+06

In [6]:
# Fill NaN values using forward fill strategy
df_regional_population = df_regional_population.ffill()
# Create the population visualization with filled data and linear y-axis
population_chart = alt.Chart(
    df_regional_population.reset_index()
    .melt(id_vars='Year', var_name='Region', value_name='Population')
    .query("Region != 'index'")
).mark_line(
    strokeWidth=3
).encode(
    x=alt.X('Year:Q',
            title='Year',
            scale=alt.Scale(domain=[1800, 2020])),
    y=alt.Y('Population:Q',
            title='Population (millions)'),  # Removed log scale
    color=alt.Color(
        'Region:N',
        legend=alt.Legend(
            orient='right',
            title='Region',
            labelFontSize=12
        )
    ),
    tooltip=['Year', 'Region', 'Population']
).properties(
    width=800,
    height=400,
    title={
        'text': 'Population by Region Over Time (1820-2018)',
        'fontSize': 20,
        'anchor': 'middle'
    }
).configure_axis(
    labelFontSize=12,
    titleFontSize=14
).configure_view(
    strokeWidth=0
)

population_chart

alt.Chart(...)

# Countries

In [7]:
country_df = pd.read_excel('../data/mpd2020.xlsx', sheet_name='Full data', header=1)
display(country_df)

       AFG  Afghanistan  1820  Unnamed: 3         3280
0      AFG  Afghanistan  1870         NaN   4207.00000
1      AFG  Afghanistan  1913         NaN   5730.00000
2      AFG  Afghanistan  1950   1156.0000   8150.00000
3      AFG  Afghanistan  1951   1170.0000   8284.00000
4      AFG  Afghanistan  1952   1189.0000   8425.00000
...    ...          ...   ...         ...          ...
21676  ZWE     Zimbabwe  2014   1594.0000  13313.99205
21677  ZWE     Zimbabwe  2015   1560.0000  13479.13812
21678  ZWE     Zimbabwe  2016   1534.0000  13664.79457
21679  ZWE     Zimbabwe  2017   1582.3662  13870.26413
21680  ZWE     Zimbabwe  2018   1611.4052  14096.61179

[21681 rows x 5 columns]

In [8]:
# Rename the columns in the country dataframe
country_df.columns = ['Country code', 'Country', 'Year', 'GDP', 'Population']

# Display the dataframe with the new column names
display(country_df)

      Country code      Country  Year        GDP   Population
0              AFG  Afghanistan  1870        NaN   4207.00000
1              AFG  Afghanistan  1913        NaN   5730.00000
2              AFG  Afghanistan  1950  1156.0000   8150.00000
3              AFG  Afghanistan  1951  1170.0000   8284.00000
4              AFG  Afghanistan  1952  1189.0000   8425.00000
...            ...          ...   ...        ...          ...
21676          ZWE     Zimbabwe  2014  1594.0000  13313.99205
21677          ZWE     Zimbabwe  2015  1560.0000  13479.13812
21678          ZWE     Zimbabwe  2016  1534.0000  13664.79457
21679          ZWE     Zimbabwe  2017  1582.3662  13870.26413
21680          ZWE     Zimbabwe  2018  1611.4052  14096.61179

[21681 rows x 5 columns]

In [9]:
import altair as alt
import ipywidgets as widgets
from IPython.display import display

# Create a dropdown widget for country selection
countries = sorted(country_df['Country'].unique())
country_selector = widgets.Dropdown(
    options=countries,
    description='Country:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='300px')
)

def create_dual_axis_chart(country_name):
    # Filter data for the selected country
    country_data = country_df[country_df['Country'] == country_name].copy()

    # Fill NaN values using backward fill strategy
    country_data = country_data.bfill()

    # Create the GDP per capita chart (left y-axis)
    gdp_chart = alt.Chart(country_data).mark_line(
        color='#1f77b4',
        strokeWidth=3
    ).encode(
        x=alt.X('Year:Q', title='Year'),
        y=alt.Y('GDP:Q',
                title='GDP per capita (2011 US$)',
                axis=alt.Axis(titleColor='#1f77b4')),
        tooltip=['Year', 'GDP']
    )

    # Create the population chart (right y-axis)
    pop_chart = alt.Chart(country_data).mark_line(
        color='#ff7f0e',
        strokeWidth=3
    ).encode(
        x=alt.X('Year:Q'),
        y=alt.Y('Population:Q',
                axis=alt.Axis(titleColor='#ff7f0e'),
                title='Population'),
        tooltip=['Year', 'Population']
    )

    chart = alt.layer(gdp_chart, pop_chart).resolve_scale(
        y='independent'
    ).properties(
        width=800,
        height=400,
        title=f'GDP per Capita and Population for {country_name} Over Time'
    )

    return chart

def update_chart(change):
    with chart_output:
        chart_output.clear_output(wait=True)
        display(create_dual_axis_chart(change['new']))

# Connect the widget to the update function
country_selector.observe(update_chart, names='value')

# Create an output widget to display the chart
chart_output = widgets.Output()

# Display the widget and initial chart
display(country_selector, chart_output)

# Show initial chart with first country
update_chart({'new': countries[0]})

Dropdown(description='Country:', layout=Layout(width='300px'), options=('Afghanistan', 'Albania', 'Algeria', '…

Output()